.jenkinsintegration-portlet {
	.full-screen {
		font-size: 1em;
	}

	.jobs-wrapper {
		.job-wrapper {
			display: table;
			font-size: 1em;
			padding-bottom: 10px;
			width: 100%;

			div {
				color: white;
				margin: 0;
			}

			.job-name {
				color: #555555;
				font-size: 1.5em;
				font-weight: bold;
			}

			.job-status {
				border-radius: 10px;
				font-weight: bold;
			}

			.aborted {
				background-color: #cc3366;
			}

			.failure {
				background-color: #DC143C;
			}

			.pending {
				background-color: #4682B4;
			}

			.success {
				background-color: #2E8B22;
			}

			.unstable {
				background-color: #FF8C00;
				color: #3e3e3e;
			}
		}
	}

.logo-container {
		position: relative;

		.fail-count {
			bottom: 0.35em;
			color: #503700;
			font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
			font-stretch: normal;
			font-size: 9vw;
			left: 2px;
			position: absolute;
			width: 100%;
		}

		.label {
			font-size: 1.3em;
			position: absolute;
			line-height: 38px;
		}

		.statusLogo {
			width: 100%;
		}

		&.bottom .label {
			right: 10px;
			bottom: 10px;
		}

		&.top .label {
			right: 10px;
			top: 10px;
		}
	}
}
