.jenkinsintegration-portlet {
	.full-screen {
		font-size: 1em;
	}

	.jobs-wrapper {
		.job-wrapper {
			display: table;
			font-size: 1em;
			padding: 5px;
			width: 100%;

			div {
				border: 1px solid #EAEAEA;
				color: white;
				margin: 0;
				padding-bottom: 10px;
				padding-left: 7px;
				padding-right: 7px;
				padding-top: 10px;
				width: 100%;
			}

			.job-name {
				color: rgb(85, 85, 85);
				float: left;
				font-size: 1.5em;
				font-weight: bold;
				max-width: 62%;
			}

			.job-status {
				border-radius: 10px;
				float: right;
				font-weight: bold;
				max-width: 32%;
				text-align: center;
			}

			.aborted {
				background-color: #EAEAEA;
				color: #3e3e3e;
			}

			.failure {
				background-color: red;
			}

			.pending {
				background-color: blue;
			}

			.success {
				background-color: green;
			}

			.unstable {
				background-color: orange;
				color: #3e3e3e;
			}
		}
	}

.logo-container {
		position: relative;

		.fail-count {
			bottom: 10px;
			color: #503700;
			font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
			font-stretch: normal;
			font-size: 25vw;
			left: 10px;
			line-height: 360px;
			position: absolute;
			width: 100%;
		}

		.label {
			font-size: 1.3em;
			position: absolute;
			line-height: 38px;
		}

		.statusLogo {
			width: 100%;
		}

		&.bottom .label {
			right: 10px;
			bottom: 10px;
		}

		&.top .label {
			right: 10px;
			top: 10px;
		}
	}
}
